@import "../../styles//globalStyles.scss";

.projects-page-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80vw;
  .projects-container {
    height: 80%;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
  }
}



@media (max-width: $breakpoint-big-phone) {
  .projects-page-section {
    width: 100vw;
    flex-direction: row;
  }
}
