.test {
  height: 100vh;
  width: 100vw;
  background-color: rgba(90, 90, 90, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.orange-div {
  width: 600px;
  height: 700px;
  background-color: #282c50;
  overflow: hidden;
  border-radius: 5px;
  border: 1px solid white;
}

.image-container {
  height: 390px;
}

.text-container {
  margin: 16px;
}

.text-container p {
  margin: 16px 0;
}
a {
  text-decoration: none;
  color: rgb(231, 193, 87);
}

.project-text {
  color: antiquewhite;
}
