@import "../../styles//globalStyles.scss";

.navBarContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: $breakpoint-small-desktop) {
  .navBarContainer {
    width: 100%;
    img {
      height: 150px;
    }
  }
}

@media (max-width: $breakpoint-small-tablet ) {
  .navBarContainer {
    margin-right: $margin-medium;
  }
}

@media (max-width: $breakpoint-big-phone) {
  .navBarContainer {
    width: 100vw;
    flex-direction: row;
    margin-right: 0;
    padding-bottom: $padding-xl*2 ;
    img {
      height: 120px;
      margin: $margin-small;
    }
  }
}