@import "../../styles//globalStyles.scss";

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 80vw;
  .about-container {
    display: flex;
    .image-backgroun-about {
      height: 700px;
      width: 450px;
      background-size: cover;
    }
    .pink {
      color: $color-pink;
    }
    .text-wraper {
      width: 500px;
      font-size: $font-size-xl;
      margin: $margin-medium;
      .text {
        margin: $margin-medium;
        color: antiquewhite;
      }
    }
    .about-text-wrapper {
      width: 500px;
      font-size: $font-size-big;
      margin: $margin-medium;
      .text {
        margin: $margin-medium;
        color: $color-white;
      }
    }
    .orange {
      color: $color-orange;
    }
  }
}

@media (max-width: $breakpoint-big-tablet) {
  .about-section {
    .about-container {
      flex-direction: column-reverse;
      .image-backgroun-about {
        height: 300px;
        width: 400px;
      }
    }
  }
}

@media (max-width: $breakpoint-big-phone) {
  .about-section {
    width: 100vw;
    height: 80vh;
  }
}

@media (max-width: $breakpoint-phone) {
  .about-section {
    .about-container {
      .image-backgroun-about {
        height: 200px;
        width: 350px;
      }
      .text-wraper {
        width: 80vw;
        font-size: $font-size-small;
        .text {
          font-size: $font-size-small;
          margin: $margin-small;
        }
      }
      .about-text-wrapper {
        width: 80vw;
        font-size: $font-size-s;
        .text {
          margin: $margin-small;
        }
      }
    }
  }
}
@media (max-width: $breakpoint-small-phone) {
  .about-section {
    .about-container {
      .image-backgroun-about {
        height: 0;
      }
    }
  }
}
